<ul class="list-unstyled">
    <li><a href="https://twitter.com/firstdrafthell"><i class="fa fa-twitter"></i> Twitter</a></li>
    <li><a href="https://github.com/patriksvensson"><i class="fa fa-github"></i> GitHub</a></li>
    <li><a href="https://keybase.io/patrik"><i class="fa fa-key"></i> Keybase</a></li>
    <li><a href="https://stackoverflow.com/users/936/patrik"><i class="fa fa-stack-overflow"></i> Stack Overflow</a></li>
    <li><a href="https://www.linkedin.com/in/psvensson82"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
</ul>